.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
    margin-top: 10px !important;
}

.chart-container {
    display: grid;
    height: 500px;
    background-color: rgba(83, 76, 65, 0.274);
    border-radius: 5px;
}

#cont {
    margin-left: 0%;
}

.total {
    margin-left: 0%;
}

@media (max-width: 767.98px) {
    .total {
        margin-left: 0%
    }
}