<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand">{{name}}</span>
    <button class="navbar-toggler"style="background-color: black;" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" routerLink="electrodomesticos" (click)="cambioElemento('1')" >
                <span data-feather="" ><i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i><span class="spanClass"> Electrodomésticos</span></span> 
             </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="total" (click)="cambioElemento('2')">
                <span data-feather=""><i class="fa fa-area-chart fa-2x" aria-hidden="true"></i></span><span class="spanClass"> Potencia Total</span>
            </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a (click)="salir()" class="nav-link" ><img alt="Profile Photo" src="assets/img/salida.png " /> Salir</a>
      </form>
    </div>
  </nav>